:root {
    --font-sans-serif: "Poppins", sans-serif;
    --white: #fff;
    --off-white: #cecec9;
    --light-grey: #8b8b8b;
    --grey: #383838;
    --dark-grey: #232323;
    --black: #1a1a1a;
    --light-blue: #07d1ff;
    --purple: #8c6af6;
    --pink: #f199a4;
    --yellow: #f6c858;
    --peach: #f2a996;
    --green: #4faf84;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--font-sans-serif);
    line-height: 1.667em;
    font-size: large;
}

a {
    color: var(--white);
    text-decoration: none;
    transition: 0.2s;
}

/***********
Components
**********/
.component img {
    display: block;
    margin: 5px;
}
.component__img {
    overflow-x: auto;
}
.component__code {
    background-color: var(--dark-grey);
    color: var(--off-white);
    padding: 5px;
}
/*headers*/
.component__code h1 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.1em;
    color: var(--white);
}

.component__code h2 {
    font-weight: 300;
    font-size: 3rem;
    color: var(--white)
}

/*Other text*/
.info-highlight {
    display: inline;
    font-size: 0.9em;
    padding: 10px 15px 5px;
    background-color: var(--grey);
    border-radius: 50px;
}

/*Buttons and Links*/
.button a {
    text-decoration: none;
    color: var(--white);
    font-size: 0.9em;
    border: 1px solid var(--white);
    border-radius: 50px;
    padding: 10px 15px 5px;
}
.button a:hover {
    background-color: var(--white);
    color: var(--dark-grey)
}

.footer a {
    text-decoration: underline;
    color: var(--light-grey);
    font-size: 0.9em;
}

.footer a:hover {
    color: var(--peach);
}

.main-nav__item a {
    color: var(--white);
    text-decoration: none;
    padding: 10px 15px 5px;
    border-radius: 50px;
}
.main-nav__item--active a, .main-nav__item a:hover {
    background-color: var(--grey);
}

/*image and Video*/
.img-container {
    display: inline-block;
    max-width: 554px;
    max-height: 554px;
    border-radius: 5px;
    overflow: hidden;
}

.img-container img {
    max-width: 100%;
    margin: auto;
    transition: 0.2s;
}

.img-container img:hover {
    transform: scale(1.05);
}
/*icons*/
i.fa-brands {
    font-size: 1.5em;
    transition: 0.2s;
}

.fa-threads:hover {
    color: var(--purple);
    transform: scale(1.08);
}

/*Navbar*/

.navbar {
    max-width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.navbar__logo {
    max-width: 100px;
    height: 100%;
}

.main-nav ul{
    list-style-type: none;
    display: flex;
}

/*Recent Contracts*/

.contracts__table {
    width: 92%;
    margin: auto;
    border-collapse: collapse;
    color: var(--white);
}

.contracts__caption {
    text-align: left;
    color: var(--off-white);
}

.contracts__table tr {
    font-size: 1.2em;
    border-bottom: 1px solid var(--grey);
}

.contracts__table tr:last-of-type {
    border-bottom: none;
}

.contracts__table td {
    padding: 0.8em 0;
}

.contracts a {
    color: var(--white);
    transition: 0.2s;
}

.contracts__link--adept:hover {
    color: var(--peach);
}

.contracts__link--google:hover {
    color: var(--light-blue);
}

.contracts__link--fable:hover {
    color: var(--yellow);
}

.contracts__dates {
    color: var(--off-white);
    text-align: right;
}

