<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Componenets | Guy Moorhouse</title>
        <link rel="stylesheet" href="https://use.typekit.net/fyo8wqg.css">
        <link rel="stylesheet" href="../fonts/fontawesome/css/all.css">
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/styles.css">
    </head>
    <body>
        <h1>Web Components</h1>

        <h2>Typography Defaults</h2>
        <article class="component">
            <h3 class="component__name">Body copy, eyebrows, subtitles, and footer copy</h3>
            <div class="component__img">
                <img src="img/infoblock__text.png" alt="body copy">
                <img src="img/infoblock__eyebrow.png" alt="A text eyebrow">
                <img src="img/project__description.png" alt="subtitle content">
                <img src="img/footer__copyright.png" alt="footer copy">
            </div>
            <div class="component__code">
                <p>Hey I'm Guy. I design and build for the web and related technologies, typically consulting with organisations that are at the beginning of something new — a period of invention where a new product or service needs to be realised and communicated online.</p>
                <p>What I do</p>
                <p>In-flight entertainment system</p>
                <div class="footer__copy">
                    <p>© Futurefabric Ltd. and clients, 2008&ndash;2024<br>
                    Registered in the UK and Wales. Company 06759081. VAT 326240627.<br>
                    Website hand coded with <a href="#!" class="footer__link">Astro</a>.</p>
                </div>
            </div>
        </article>
        <article class="component">
            <h3 class="component__name">Headings (h1, h2)</h3>
            <div class="component__img">
                <img src="img/hero__title.png" alt="h1 content">
                <img src="img/portfolio__title.png" alt="h2 content">
                <img src="img/project__title.png" alt="h3 content">
            </div>
            <div class="component__code">
                <h1>Guy Moorhouse is an independent designer</h1>
                <h2>Selected projects</h2>
                <h3>Virgin Atlantic</h3>
            </div>
        </article>
        <article class="component">
            <h3 class="component__name">Buttons</h3>
            <div class="component__img">
                <img src="img/button.png" alt="Footer Link">
                <img src="img/button--hover.png" alt="Footer Link on hover">
            </div>
            <div class="component__code">
                <p><a href="#!" class="button">About my studio</a></p>
            </div>
        </article>
        <article class="component">
            <h3 class="component__name">Footer Links</h3>
            <div class="component__img">
                <img src="img/footer__nav--link.png" alt="Footer Link">
                <img src="img/footer__nav--link--hover.png" alt="Footer Link on hover">
            </div>
            <div class="component__code footer__copy">
                <p><a href="#!" class="footer__link link-hover--peach">Newsletter</a></p>
            </div>
        </article>
        <article class="component">
            <h3 class="component__name">Info highlights</h3>
            <div class="component__img">
                <img src="img/info-highlight.png" alt="Highlighted information">
            </div>
            <div class="component__code">
                <p class="info-highlight">+More projects added soon</p>
            </div>
        </article>

        <h2>Atoms</h2>
        <article class="component">
            <h3 class="component__name">Active Menu Item</h3>
            <div class="component__img">
                <img src="img/main-nav__item--active.png" alt="An active menu item">
            </div>
            <div class="component__code main-nav__item main-nav__item--active">
                <p><a href="#!">Projects</a></p>
            </div>
        </article>
        <article class="component">
            <h3 class="component__name">Inctive Menu Item</h3>
            <div class="component__img">
                <img src="img/main-nav__item.png" alt="An inactive menu item">
            </div>
            <div class="component__code main-nav__item">
                <p><a href="#!">About</a></p>
            </div>
        </article>
        <article class="component">
            <h3 class="component__name">Images</h3>
            <div class="component__img">
                <img src="img/project__img.png" alt="A styled image">
            </div>
            <div class="component__code">
                <div class="img-container">
                    <img src="https://www.futurefabric.co/_astro/virgin-thumb.u7OhDyeX_vBVBF.webp" alt="image from Guy Moorhouse Website">
                </div>
            </div>
        </article>
        <article class="component">
            <h3 class="component__name">Social Media Icons</h3>
            <div class="component__img">
                <img src="img/footer__social-media--threads.png" alt="A footer Social Media icon">
                <img src="img/footer__social-media--threads--hover.png" alt="A footer Social Media icon on hover">
            </div>
            <div class="component__code">
                <a href="#!"><i class="fa-brands fa-threads"></i></a>
            </div>
        </article>

        <h2>Navigation bar</h2>
        <article class="component">
            <h3 class="component__name">.navbar</h3>
            <div class="component__img">
                <img src="img/navbar.png" alt="The navigation bar">
            </div>
            <div class="component__code">
                <div class="content-wrapper">
                    <header class="navbar">
                        <!--In the original site, SVGs are directly embedded. I've converted them to images here so as to avoid copying and pasting the code into my project-->
                        <img src="../images/gm-signature.svg" class="navbar__logo">
                        <nav class="main-nav">
                            <ul>
                                <li class="main-nav__item main-nav__item--active"><a href="#!">Projects</a></li>
                                <li class="main-nav__item"><a href="#!">About</a></li>
                                <li class="main-nav__item"><a href="#!">Blog</a></li>
                                <li class="main-nav__item"><a href="#!">Contact</a></li>
                                <li class="main-nav__item"><a href="#!">Now</a></li>
                            </ul>
                        </nav>
                    </header>
                </div>
            </div>
        </article>

        <h2>Recent Contracts</h2>
        <article class="component">
            <h3 class="component__name">.contracts</h3>
            <div class="component__img">
                <img src="img/contracts.png">
            </div>
            <div class="component__code">
                <div class="content-wrapper">
                    <table class="contracts__table">
                        <caption class="contracts__caption">
                            Recent Contracts
                        </caption>
                        <tr>
                            <td><a href="#!" class="contracts__link--adept">Adept</a></td>
                            <td>Branding, design and front-end build <p class="info-highlight">Ongoing</p></td>
                            <td class="contracts__dates">2023&ndash;2024</td>
                        </tr>
                        <tr>
                            <td><a href="#!" class="contracts__link--google">Google Arts &amp; Culture</a></td>
                            <td>Design direction and prototyping</td>
                            <td class="contracts__dates">2023</td>
                        </tr>
                        <tr>
                            <td><a href="#!" class="contracts__link--fable">Fable <sup>&#8599;</sup></a></td>
                            <td>Design and prototyping</td>
                            <td class="contracts__dates">2022&ndash;2023</td>
                        </tr>
                    </table>
                </div>
            </div>
        </article>

        <h2>Selected Projects</h2>
        <article class="component">
            <h3 class="compontent__name">.portfolio (first row only)</h3>
            <div class="component__img">
                <img src="img/portfolio.png" alt="the first row of the portfolio section">
            </div>
            <div class="component__code">
                <div class="content-wrapper">
                    <h2>Selected projects</h2>
                    <p>2008-2024</p>
                    <div class="portfolio__grid">
                        <div class="project">
                            <div class="img-container img-container--grid">
                                <img src="https://www.futurefabric.co/_astro/virgin-thumb.u7OhDyeX_vBVBF.webp" alt="Virgin Atlantic project image">
                            </div>
                            <h3>Virgin Atlantic</h3>
                            <p>In-flight entertainment system</p>
                        </div>
                        <div class="project">
                            <div class="img-container img-container--grid img-container--blue">
                                <img src="https://www.futurefabric.co/_astro/govuk.0S3qSJgE_Z1qkB71.webp" alt="Gov.uk project image">
                            </div>
                            <h3>GOV.UK</h3>
                            <p>Single domain for the UK population</p>
                        </div>
                        <div class="project">
                            <div class="img-container img-container--grid img-container--purple">
                                <img src="https://www.futurefabric.co/_astro/animade-thumb-02.aVeSo_rM_Z1zM0wH.webp" alt="Animade project image">
                            </div>
                            <h3>Animade</h3>
                            <p>Animation studio design direction</p>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <h2>Info Block</h2>
        <article class="component">
            <h3 class="component__name">.infoblock</h3>
            <div class="component__img">
                <img src="img/infoblock.png" alt="An information block">
            </div>
            <div class="component__code infoblock">
                <p>What I do</p>
                <h2>Design, branding, prototyping and build</h2>
                <p>For the web and related technologies</p>
                <a href="#!" class="button">About my studio</a>
            </div>
        </article>

        <h2>Footer</h2>
        <article class="component">
            <h3 class="component__name">.footer</h3>
            <div class="component__img">
                <img src="img/footer.png" alt="The footer">
            </div>
            <div class="component__code infoblock">
                <p>Get in touch</p>
                <h2>hey@futurefabric.co</h2>
                <a href="#!" class="button">Copy email address</a>
                <p class="footer__copy">© Futurefabric Ltd. and clients, 2008&ndash;2024<br>
                    Registered in the UK and Wales. Company 06759081. VAT 326240627.<br>
                    Website hand coded with <a href="#!" class="footer__link">Astro</a>.</p>
            </div>
        </article>
    </body>
</html>