<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Componenets | Guy Moorhouse</title>
        <link rel="stylesheet" href="https://use.typekit.net/fyo8wqg.css">
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/styles.css">
    </head>
    <body>
        <h1>Web Components</h1>

        <h2>Typography Defaults</h2>
        <article class="component">
            <h3 class="component__name">Body copy, eyebrows, and subtitles</h3>
            <div class="component__img">
                <img src="img/infoblock__text.png" alt="body copy">
                <img src="img/about-block__eyebrow.png" alt="A text eyebrow">
                <img src="img/project__description.png" alt="subtitle content">
            </div>
            <div class="component__code">
                <p>Hey I'm Guy. I design and build for the web and related technologies, typically consulting with organisations that are at the beginning of something new — a period of invention where a new product or service needs to be realised and communicated online.</p>
                <p>What I do</p>
                <p>In-flight entertainment system</p>
            </div>
        </article>
        <article class="component">
            <h3 class="component__name">Headings (h1, h2)</h3>
            <div class="component__img">
                <img src="img/hero__title.png" alt="h1 content">
                <img src="img/portfolio__title.png" alt="h2 content">
            </div>
            <div class="component__code">
                <h1>Guy Moorhouse is an independent designer</h1>
                <h2>Selected projects</h2>
            </div>
        </article>
    </body>
</html>